<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center"
>
  <section class="welcome-section">
    <div class="container">
      <h1>Actividades</h1>
      <p>Estando el cuerpo activo genera hormonas de la felicidad!</p>
    </div>
    <div class="container">
      <h1>Comunidad</h1>
      <p>Conoce a otras personas entrenando lo que te gusta!</p>
    </div>
    <div class="container">
      <h1>Desafíos</h1>
      <p>Da siempre hoy lo mejor de ti!</p>
    </div>
  </section>
</div>
